<!DOCTYPE html>
<html lang="zh-CN" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>管理后台</title>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/element-ui.css">
    <!-- 引入Vue -->
    <script type="text/javascript" src="/static/js/vue.js"></script>
    <script type="text/javascript" src="/static/js/axios.js"></script>
    <script type="text/javascript" src="/static/js/qs.js"></script>
    <script type="text/javascript" src="/static/js/element-ui.js"></script>

    <style type="text/css">
        html,
        body,
        #app {
            margin: 0;
            height: 100%;
            /*min-height: 400px;*/
            /*min-width: 800px;*/
        }

        .el-header,
        .el-footer {
            background-color: #B3C0D1;
            color: #333;
            text-align: center;
        }

        .el-menu {
            border-right: solid 1px #575d6b;
        }

        .el-submenu .el-menu-item {
            min-width: auto;
        }

        .footer {
            line-height: 60px;
        }

        .container,
        .pane-content {
            height: 100%;
            width: 100%;
        }

        .tabs {
            border: 0;
            height: 100%;
        }

        .el-tabs--border-card {
            box-shadow: 0 0 0 0;
            -webkit-box-shadow: 0 0 0 0;
        }

        .el-tabs--border-card>.el-tabs__content {
            padding: 2px;
            /*height: 100%;*/
        }
    </style>
</head>

<body>
    <div id="app">
        <el-container style="height: 100%;">
            <el-header>Header</el-header>
            <el-container>
                <el-aside width="200px">

                    <el-menu :default-active="defaultActive" :default-openeds="[defaultOpeneds]" :unique-opened="uniqueOpened" class="el-menu-vertical-demo"
                        @select="handleSelect" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b" style="height: 100%;">
                        <el-submenu v-for="menu in menus" v-bind:index="menu.id">
                            <template slot="title">
                                <i v-bind:class="menu.icon"></i>
                                <span slot="title" v-text="menu.name"></span>
                            </template>
                            <el-menu-item v-for="item in menu.children" v-bind:index="item.id" v-text="item.name"></el-menu-item>
                        </el-submenu>
                    </el-menu>

                </el-aside>
                <el-container>
                    <el-main style="padding: 0;">
                        <div class="container" ref="container">
                            <el-tabs class="tabs" v-model="editableTabsValue" type="border-card" closable @tab-click="clickTab" @tab-remove="removeTab">
                                <el-tab-pane v-for="(item, index) in editableTabs" :id="item.id" :key="item.id" :label="item.title" :name="item.name" class="pane-content"
                                    v-bind:style="{height:tabsContentHeight+'px'}">
                                    <iframe v-bind:src="item.content" frameborder="0" style="height: 100%;width: 100%;"></iframe>
                                </el-tab-pane>
                            </el-tabs>
                        </div>
                    </el-main>
                    <el-footer class="footer">
                        博客
                    </el-footer>
                </el-container>
            </el-container>
        </el-container>
    </div>

    <script type="text/javascript">

        Vue.prototype.$qs = Qs;
        Vue.prototype.$axios = axios;

        var vm = new Vue({
            el: '#app',
            data: {
                css: {},
                tabsContentHeight: 0,
                editableTabsValue: '2',
                editableTabs: [],
                tabIndex: 2,
                menus: [],
                jsonMenus: {},
                uniqueOpened: true,
                defaultOpeneds: '',
                defaultActive: ''
            },
            mounted: function () {

                this.$nextTick(function () {
                    var _this = this;

                    //初始化菜单
                    _this.$axios.post("/queryMenuList").then(function (res) {
                        var result = res.data;
                        if (result.success) {
                            _this.menus = result.data;
                            result.data.forEach(function (item, index) {
                                if (index == 0) {
                                    //_this.defaultOpeneds = item.id;
                                    //_this.defaultActive = item.children[0].id;
                                }
                                _this.jsonMenus[item.id] = item;
                                item.children.forEach(function (children, ind) {
                                    _this.jsonMenus[children.id] = children;
                                });
                            });
                        } else {
                            _this.$message.error("初始化菜单失败");
                        }
                        console.log(result);
                    }).catch(function (err) {
                        _this.$message.error("初始化菜单失败");
                    });

                    //初始化窗口大小
                    window.onresize = function () {
                        _this.initTabsContentHeight();
                    }
                });
            },
            methods: {
                initTabsContentHeight: function () {
                    var tabs = document.querySelectorAll("div[class='tabs el-tabs el-tabs--top el-tabs--border-card']");
                    var tabs_header = document.querySelectorAll("div[class='el-tabs__header']");
                    var tabs_content = document.querySelectorAll("div[class='el-tabs__content']");
                    console.log(tabs[0].offsetHeight);
                    console.log(tabs_header[0].offsetHeight);
                    console.log(tabs_content[0].offsetHeight);
                    if (tabs && tabs_header && tabs_content && tabs.length > 0 && tabs_header.length > 0 && tabs_content.length > 0) {
                        this.tabsContentHeight = tabs[0].offsetHeight - (39 + 4);
                    }
                },
                handleSelect: function (key, keyPath) {
                    var item = this.jsonMenus[key];
                    console.log(key, keyPath);
                    this.addTab(item);
                    this.defaultOpeneds = keyPath[0];
                },
                addTab: function (item) {
                    var tabs = this.editableTabs;
                    for (var i = 0; i < tabs.length; i++) {
                        if (tabs[i].id === item.id) {
                            this.editableTabsValue = item.name;
                            return
                        }
                    }

                    var newTabName = item.name;
                    this.editableTabs.push({
                        id: item.id,
                        pid: item.pid,
                        title: item.name,
                        name: item.name,
                        path: item.path,
                        content: item.path
                    });
                    this.editableTabsValue = newTabName;

                    this.initTabsContentHeight();
                },
                clickTab: function (targetName) {
                    var id = targetName.$attrs['id'];
                    var json = this.jsonMenus[id];
                    this.defaultOpeneds = json.pid;
                    this.defaultActive = id;

                    console.log(targetName.$attrs['pid']);
                },
                removeTab: function (targetName) {
                    // if (targetName === "1_1") {
                    //     return
                    // }
                    var tabs = this.editableTabs;
                    var activeName = this.editableTabsValue;
                    if (activeName === targetName) {
                        tabs.forEach(function (tab, index) {
                            if (tab.name === targetName) {
                                var nextTab = tabs[index + 1] || tabs[index - 1];
                                if (nextTab) {
                                    activeName = nextTab.name;
                                }
                            }
                        });
                    }

                    this.editableTabsValue = activeName;
                    this.editableTabs = tabs.filter(function (tab) {
                        return tab.name !== targetName;
                    });
                }
            }
        });

    </script>
</body>

</html>