<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>用户管理</title>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/static/css/element-ui.css">
    <!-- 引入Vue -->
    <script type="text/javascript" src="/static/js/vue.js"></script>
    <script type="text/javascript" src="/static/js/qs.js"></script>
    <script type="text/javascript" src="/static/js/axios.js"></script>
    <script type="text/javascript" src="/static/js/element-ui.js"></script>

    <style type="text/css">
       
    </style>
</head>

<body>
    <div id="app">
        用户管理
    </div>

    <script type="text/javascript">

    </script>
</body>

</html>